{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - À propos{% endblock %}

{% block body %}
  <h3 class="title">Notes de version</h3>
  <ul>
    <li>29/04/2016 : Changement du texte du bouton de retour à une version précédente</li>
    <li>27/09/2015 : Ajout de la page à propos / Ajout du lien de contact</li>
    <li>26/09/2015 : Les blocs de la page d'accueil sont redimensionnables / Les blocs de la page d'accueil peuvent être réordonnés</li>
    <li>28/06/2015 : Ajout de l'export word des fiches de personnages</li>
    <li>09/05/2015 : Ajout d'une vingtaine d'avatars / Redesign des boutons d'action</li>
    <li>08/05/2015 : Ajout de taches pour les scénaristes</li>
    <li>06/05/2015 : Possibilité d'exclure certains personnages des statistiques</li>
  </ul>
{% endblock %}
