parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: base
    database_user: root
    database_password: null 
    mailer_transport: mail
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: 25414bcb09fdd01d3476d768badd5110f64fbc05
    database_path: null
    supervisor_email: user@localhost
    xp_small: 5
    xp_minor: 10
    xp_major: 25
    perso_status:
        C: Créé
        D: Développé
        R: Relu
        S: Pitché
    plot_status:
        C: Créée
        D: Développée
        R: Relue
        S: Pitchée
    sex:
        H: Homme
        F: Femme
        NA: Indéterminé
    stat_include_pnj: true
    stat_pnj_name: PNJ
    export_include_groups: true
    export_include_events: true
    export_filename: Fiche de personnage
    show_event_plot: false