body {
  background: url('../images/pattern.png');
  padding-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;}
table {
  width: 100%;
}
p { 
  font-family: 'Lato', sans-serif;
  font-weight: 300;}
h1 { color: #F09C38; margin-top: 0; }
a { 
  color: #F09C38; 
  font-weight: 400;}
a:hover { color: #E8BC88; }
a:focus { color: #E8BC88; }
form h3 { margin-top: 0; }
input[type="submit"] {
  border: 0;
  color: white;
  margin-top: 12px;
}
label {display: inline-block; }
input[type="checkbox"] { margin: 0 10px 12px 0; }
.redactor_box { margin-bottom: 12px; }

.block {
  background: #fcfcfc;
  padding: 12px;
  border-radius: 0 0 3px 3px;
}

.flash { 
  padding: 0.5rem 1.5rem; }
.spacer { border-top: 1px solid #E7E7E7; margin:12px 0;}

.blue, .highlight-blue:hover, .blue-event {
      background: #428BCA; 
      color: #FFF; }
.blue-font, .f-dropdown li a.blue-font { 
      color: #54A4E9; }
.blue-border { 
      border:1px solid #428BCA; }
.blue-dropdown {
      border-left-color: #428BCA !important; }
      .blue-dropdown:hover { 
            background: #428BCA !important; 
            color: #FFF;}
button.outline.blue, .button.outline.blue {
      border-color: #428BCA;
      color: #428BCA; 
      background-color: transparent;}
      button.blue:hover, .button.blue:hover {
      background: #3978ae;
      border-color: #3978ae;
      color: #FFF; }
.green, .highlight-green:hover, .green-event { 
      background:  #42CA99; 
      color: #FFF; }
.green-font, .f-dropdown li a.green-font { 
      color: #42CA99;}
 .green-border { 
      border:1px solid #42CA99; }
.green-dropdown { 
      border-left-color: #42CA99 !important;}
      .green-dropdown:hover { 
            background: #42CA99 !important; 
            color: #FFF;}
button.outline.green, .button.outline.green {
      border-color: #42CA99;
      color: #42CA99; 
      background-color: transparent;}
      button.green:hover, .button.green:hover {
      background: #30936f;
      border-color: #30936f;
      color: #FFF; }
.red, .highlight-red:hover, .red-event {
      background: #FF4F4F;
      color: #FFF; }
.red-font, .f-dropdown li a.red-font { 
      color: #FF4F4F; }
.red-border { 
      border: 1px solid #FF4F4F; }
.red-dropdown { 
      border-left-color: #FF4F4F !important;
      background: #FF4F4F !important; }
      .red-dropdown:hover { 
            background: #FF4F4F !important; 
            color: #FFF;}
button.outline.red, .button.outline.red {
      border-color: #FF4F4F;
      color: #FF4F4F; 
      background-color: transparent;}
      button.red:hover, .button.red:hover {
      background: #bd3b3b;
      border-color: #bd3b3b;
      color: #FFF; }
.gray, .highlight-gray:hover, .gray-event {
      background: #B8B8B8;
      color: #FFF;}
.gray-font, .f-dropdown li a.gray-font { 
      color: #B8B8B8; }
.gray-border { 
      border: 1px solid #B8B8B8; }
.gray-dropdown { 
      border-left-color: #B8B8B8 !important;}
      .gray-dropdown:hover { 
            background: #B8B8B8 !important; 
            color: #FFF;}
button.outline.gray, .button.outline.gray {
      border-color: #B8B8B8;
      color: #B8B8B8; 
      background-color: transparent;}
      button.gray:hover, .button.gray:hover {
      background: #8f8f8f;
      border-color: #8f8f8f;
      color: #FFF; }
.orange, .highlight-orange:hover, .orange-event { 
  background:  #F09C38; 
  color: white; }
button.outline.orange, .button.outline.orange {
      border-color: #F09C38;
      color: #F09C38; 
      background-color: transparent;}
      button.orange:hover, .button.orange:hover {
      background: #E8BC88;
      border-color: #E8BC88;
      color: #FFF; }
.orange-event { border: none;}
.orange-font, .f-dropdown li a.orange-font { color: #F09C38;}
.orange-border { border:1px solid #F09C38; }
.orange-dropdown { 
      border-left-color: #F09C38 !important;}
      .orange-dropdown:hover { 
            background: #F09C38 !important; 
            color: #FFF;}
.black { 
  background: black;
  color: white; }
  .black .title {color: white;}

button, .button, input.button {
      margin: 0 0 1rem;
      padding: 0 1rem;
      font-size: 0.9rem;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      border-radius: 3px;}
      .button-group li:first-child button, .button-group li:first-child .button { 
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0; }
      .button-group li:last-child button, .button-group li:last-child .button { 
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0; }
      button.outline, .button.outline { 
            background: transparent; 
            border-style: solid;
            border-width: 1px;
            transition: border-color 300ms ease-out; }
      button.flat, .button.flat { 
            box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20); }
      button.tiny, .button.tiny { 
        padding-top: 0;
        padding-bottom: 0; }
  a.button:hover { 
    text-decoration: none; }
    table .button { margin-bottom: 0; }
.urbi-label { 
  font-size: 1rem;
  font-weight: 600; }
.urbi-output {
  font-style: italic;
  word-wrap: break-word;
  font-weight: 400; }

.card {
  background: white;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20); 
  padding: 10px; 
  margin-bottom: 0.9375rem; 
  margin-top: 0.9375rem; 
  border-radius: 5px;}
  .card h3 { margin-top: 0; }

.avatar img { 
  border-radius: 50%;
  border-width: 2px;
  border-color: #FFF; 
  border-style: solid;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20); }
  .records_list .avatar img {
    height: 35px;
    width: 35px;}
  .page-header .avatar img {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-top: -5px;}

.alert-box { 
  padding: 0.5rem; 
  font-size: 0.9rem; }

.page-header div { 
  position: absolute;
  right: 0.5rem; }
  .page-header div > a.button {
    float: right;}
.page-header .button-group { 
  float: right;
  margin-top: 15px; }
  .header.row .button.flat.blue {
    position: absolute;    
    right: 0.9375rem; }

button.DTTT_button, div.DTTT_button, a.DTTT_button { display: inline-block !important ;}
.dt-buttons.button-group { 
  float: left; 
  margin-top: 30px; }
.dt-buttons.button-group .button { 
  background-color: #B8B8B8;
  color: #FFF;
  padding: 0 1rem;
  border-radius: 0;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20); }
  .dt-buttons.button-group .button:hover { 
    background-color: #8f8f8f; }
  .dt-buttons.button-group .button:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .dt-buttons.button-group .button:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

/** Template **/
.sticky.contain-to-grid { box-shadow: 0 0 5px; background: #F09C38;}
.top-bar { background: #F09C38; }
.top-bar.expanded .title-area { background: #F09C38; }
.top-bar-section ul li  { background: #F09C38; }
.top-bar-section ul li:hover:not(.has-form)>a { background-color: #F3AF5F; }
.top-bar-section li.hover > a:not(.button) { background-color: #F3AF5F; }
.top-bar-section li:not(.has-form) a:not(.button) { background: #F09C38; }
.top-bar-section li:not(.has-form) a:not(.button):hover { background-color: #F3AF5F; }
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) { 
  background-color: #FFF;
  color: #222;
  border-left: solid 3px; }
  .top-bar-section .dropdown li:not(.has-form):not(.active)>a.red:not(.button) { color: #FFF; }
  .top-bar-section .dropdown li:not(.has-form):not(.active):hover>a:not(.button) { background-color: #F09C38; }
button.ui-multiselect:hover { color: #007095; }
/*input[required="required"] { border-left-color: #FF4F4F; }
input[required="required"]:focus { box-shadow: 0 0 5px #FF4F4F; }
label.required + *:not([required="required"]) { border-left: 1px solid #FF4F4F; }
label.required + *:not([required="required"]):focus { box-shadow: 0 0 5px #FF4F4F; }*/
label.required::after {
  content: ' *';
  color: red; }

/** Home **/
.home-block { min-height: 330px; }
  .home-block .handle {
    cursor: move;
    cursor: -webkit-grabbing; }
  .home-block ul { margin-bottom: 0; }
  .home-block .card { min-height: 330px; }
  .home-block .card .resize-control { 
    position: absolute; 
    bottom: 1rem;
    right: 1.5rem; 
    opacity: 0.3;}
    .home-block:hover .card .resize-control { opacity: 1;}
#rpg h4 {margin-top: 0; }
.xp-bar .level { line-height: 25px; font-size: 25px; }
.xp-bar .level:first-child { color: gray; }
.xp-bar .progress {
  margin: 0 10px;
  border: 1px solid #AAA; }
  .xp-bar .progress .meter { 
      line-height: 19px;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      background-size: 50px 50px; /* Controls the size of the stripes */
      background-color: #F09C38;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                  to(transparent));
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
    }
    .xp-bar .progress .meter span { position: absolute; width: 80%; text-align: center;}
#my-objects .card { min-height: 150px; }


#site { padding: 0.5rem 1.5rem 1.5rem 1.5rem; }

form#revert {
  display: inline; }
  form#revert select {
    width:  150px; }

span.form_text {
    height: 32px;
    line-height: 32px;
    font-size: 25px; }

.comment p {
  margin-bottom: 0;
}

.comment-box .actions {
  margin: 0 10px;
}

.comment-box .avatar img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.comment-box p{
  text-align: left;
}

.comment-box.author p{
  text-align: right;
}

.comment-box .comment{
  border-style: solid;
  border-width: 10px 10px 10px 30px;
  -moz-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  -webkit-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  -o-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  border-image: url('/images/chat-bubble-left.png') 92 80 83 171 fill repeat;
  min-height: 65px;
}

.comment-box.author .comment{
  border-style: solid;
  border-width: 10px 30px 10px 10px;
  -moz-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  -webkit-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  -o-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 fill repeat;
}

.chart {
  margin-bottom: 10px; }
  .semi.chart {
    height: 400px; }
  .full.chart {
    height: 1000px; }

.implications .block, .timings .block { 
  margin-top: 20px; 
  border-radius: 0;
  border-bottom: 2px dashed #F09C38;}
.plot { word-wrap: break-word;}

.fa.fa-question-circle { cursor: help;}

/** Mobile css specific **/
@media only screen and (max-width: 40em) {
  #site { padding: 0.5rem; }
  .card { margin: 0.5rem 0;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #site { padding: 0.5rem 1rem 1rem; }
}

/** overwrite Foundation styles **/
.row { 
  max-width: none;
  margin: 0;}
.contain-to-grid .top-bar { 
  max-width: none;
  margin: 0;
  padding: 0 1.5rem}