body {
  background: url('/images/pattern.png');
  padding-bottom: 12px;
}
table {
  width: 100%;
}
h1 { color: #F09C38; margin-top: 0; }
a { color: #F09C38; }
a:hover { color: #E8BC88; }
form h3 { margin-top: 0; }
input[type="submit"] {
  border: 0;
  color: white;
  margin-top: 12px;
}
label {display: inline-block; }
input[type="checkbox"] { margin: 0 10px 12px 0; }
.redactor_box { margin-bottom: 12px; }

.block {
  background: #fcfcfc;
  padding: 12px;
  border-radius: 0 0 3px 3px;
}

.flash { margin-top: 10px; }
.spacer { border-top: 1px solid #E7E7E7; margin:12px 0;}

.back-color, .highlight-back, .blue, .highlight-blue:hover, .blue-event { 
  background: #428BCA; 
  color: white; }
.blue-border { border:1px solid #428BCA; }
.blue-font { color: #54A4E9; }
.hover .highlight-blue { background: none; }
.green, .highlight-green:hover, .green-event { 
  background:  #42CA99; 
  color: white; }
  button.green:hover, .button.green:hover{ background: #1EA775; }
.green-event { border: none;}
.green-font { color: #42CA99;}
.green-border { border:1px solid #42CA99; }
.hover .highlight-green { background: none; }
.orange, .highlight-orange:hover, .orange-event { 
  background:  #F09C38; 
  color: white; }
  button.orange:hover, .button.orange:hover{ background: #E8BC88; }
.orange-event { border: none;}
.orange-font { color: #F09C38;}
.orange-border { border:1px solid #F09C38; }
.hover .highlight-orange { background: none; }
.red, .highlight-red:hover, .red-event {
  background: #FF4F4F;
  color: white; }
button.red:hover, .button.red:hover{ background: #E42626; }
.red-event {border: none;}
.red-border { border: 1px solid #FF4F4F; }
.hover .highlight-red { background: none; }
.red-font { color: #FF4F4F !important; }
.gray, .highlight-gray:hover, .gray-event {
  background: #B8B8B8;
  color: white;}
button.gray:hover, .button.gray:hover{ background: #949494; }
.gray-event { border: none; }
.hover .highlight-gray { background: none; }
.black { 
  background: black;
  color: white; }
  .black .title {color: white;}
.flat {
  color: white;
  height: 40px;
  border: 1px solid white; 
  font-size: 18px; }
.button, button {
  padding-top: 0;
  padding-bottom: 0; 
  height: 40px;
  line-height: 40px; }
  a.button:hover { 
    text-decoration: none; }
    table .button { margin-bottom: 0; }
.urbi-label { 
  font-size: 1rem;
  font-weight: 600; }
.urbi-output {
  font-style: italic;
  word-wrap: break-word;
  font-weight: 400; }

.card {
  background: white;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20); 
  padding: 10px; 
  margin-bottom: 0.9375rem; 
  margin-top: 0.9375rem; }

.alert-box { 
  padding: 0.5rem; 
  font-size: 0.9rem; }

.page-header div > a.button { 
  position: absolute;
  right: 0.9375rem;
  top: 15px; }
.page-header .button-group { 
  position: absolute;
  right: 0.9375rem;
  top: 15px; }

button.DTTT_button, div.DTTT_button, a.DTTT_button { display: inline-block !important ;}

/** Template **/
.sticky.contain-to-grid { box-shadow: 0 0 5px; background: #F09C38;}
.top-bar { background: #F09C38; }
.top-bar-section ul li  { background: #F09C38; }
.top-bar-section ul li:hover:not(.has-form)>a { background: #F09C38; }
.top-bar-section li:not(.has-form) a:not(.button)  { background: #F09C38; }
.top-bar-section li:not(.has-form) a:not(.button):hover { background: #F3AF5F; }
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) { background: #F09C38; }
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) { background: #F3AF5F; }
button.ui-multiselect:hover { color: #007095; }
input[required="required"] { border-left-color: #FF4F4F; }
input[required="required"]:focus { box-shadow: 0 0 5px #FF4F4F; }
label.required + *:not([required="required"]) { border-left: 1px solid #FF4F4F; }
label.required + *:not([required="required"]):focus { box-shadow: 0 0 5px #FF4F4F; }

/** Home **/
.home-block { min-height: 330px; }
  .home-block ul { margin-bottom: 0; }
  .home-block .card { min-height: 330px; }
#rpg h4 {margin-top: 0; }
.xp-bar .level { line-height: 25px; font-size: 25px; }
.xp-bar .level:first-child { color: gray; }
.xp-bar .progress {
  margin: 0 10px;
  border: 1px solid #AAA; }
  .xp-bar .progress .meter { 
      line-height: 19px;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      background-size: 50px 50px; /* Controls the size of the stripes */
      background-color: #F09C38;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                  to(transparent));
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                transparent 75%, transparent);
    }
    .xp-bar .progress .meter span { position: absolute; width: 80%; text-align: center;}
#my-objects .card { min-height: 150px; }


#site { padding: 0 10px 10px 10px; }

form#revert {
  display: inline; }
  form#revert select {
    width:  150px; }

span.form_text {
    height: 32px;
    line-height: 32px;
    font-size: 25px; }

.comment p {
  margin-bottom: 0;
}

.comment-box:nth-child(odd) p{
  text-align: left;
}

.comment-box:nth-child(even) p{
  text-align: right;
}

.comment-box:nth-child(odd) .comment.author{
  border-style: solid;
  border-width: 10px 10px 10px 30px;
  -moz-border-image: url('/images/chat-bubble-left-author.png') 92 80 83 171 repeat;
  -webkit-border-image: url('/images/chat-bubble-left-author.png') 92 80 83 171 repeat;
  -o-border-image: url('/images/chat-bubble-left-author.png') 92 80 83 171 repeat;
  border-image: url('/images/chat-bubble-left-author.png') 92 80 83 171 fill repeat;
}

.comment-box:nth-child(odd) .comment{
  border-style: solid;
  border-width: 10px 10px 10px 30px;
  -moz-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  -webkit-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  -o-border-image: url('/images/chat-bubble-left.png') 92 80 83 171 repeat;
  border-image: url('/images/chat-bubble-left.png') 92 80 83 171 fill repeat;
}

.comment-box:nth-child(even) .comment{
  border-style: solid;
  border-width: 10px 30px 10px 10px;
  -moz-border-image: url('/images/chat-bubble-right.png') 92 168 83 76 repeat;
  -webkit-border-image: url('/images/chat-bubble-right.png') 92 168 83 76 repeat;
  -o-border-image: url('/images/chat-bubble-right.png') 92 168 83 76 repeat;
  border-image: url('/images/chat-bubble-right.png') 92 168 83 76 fill repeat;
}

.comment-box:nth-child(even) .comment.author{
  border-style: solid;
  border-width: 10px 30px 10px 10px;
  -moz-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  -webkit-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  -o-border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 repeat;
  border-image: url('/images/chat-bubble-right-author.png') 92 168 83 76 fill repeat;
}

.chart {
  margin-bottom: 10px; }
  .semi.chart {
    height: 400px; }
  .full.chart {
    height: 1000px; }

.implications .block { margin-top: 20px; }
